
* {margin:0; padding:0}
body {font:10px Verdana,Arial}
.sortable {border:1px solid #ccc; border-bottom:none}
.sortable th {padding:4px 6px 6px; background:#000; color:#fff; text-align:center; white-space: nowrap;}
.sortable td {padding:2px 4px 4px; background:#fff; border-bottom:1px solid #ccc;}
.sortable .head {background:#000 url(images/sort.gif) 6px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .desc {background:#76B533 url(images/desc.gif) 6px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc {background:#76B533 url(images/asc.gif) 6px  center no-repeat; cursor:pointer; padding-left:18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color: #ccc;}
.sortable .even td {background:#F3F6F8}
.sortable .odd td {background:#fff}
.infotopic {border:1px solid #ccc; border-bottom:none}
.infotopic th {padding:4px 6px 6px; background:#f2f2f2; text-align:left; color:#000000; white-space: nowrap;}
.infotopic td {padding:2px 4px 4px; background:#fff; border-bottom:1px solid #ccc;}
.balloon{
    background: #ffc;
    padding: 8px 15px 15px 15px;
    border: 1px solid #ccc;
    white-space: normal;
    border-radius: 4px;
    margin: 10px 0;
    box-shadow: 1px 1px 10px #ccc;
    width: 640px;
    font-size: 11px;
}

h1{
    font-size: 34px;
    padding: 15px;
}

table.infotopic{
    margin-bottom: 30px;
}

.header{
  background: #F3F6F8;
  color: #1C98E3;
  position: relative;
}

.header img {
  float: left;
}

.header h1 {
  
  top: 18px;
  left: 10px;
}

br.clear{
  clear: both;
}